@model ProiectASP.Models.Group


<h2> Editeaza Grup </h2>
<br />

@using (Html.BeginForm(actionName: "Edit", controllerName: "Groups",
    method: FormMethod.Post,
    routeValues: new { id = Model.Id }))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.Label("GroupName", "Titlu Grup")
    <br />
    @Html.TextBox("GroupName", null, new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.GroupName, "", new { @class = "text-danger" })
    <br />
    <br />

    @Html.Label("Subject", "Subiect de discutie")
    <br />
    @Html.TextArea("Subject", null, new { @class = "form-control" })

    @Html.ValidationMessage("Subject", null, new { @class = "text-danger" })
    <br />
    <br />

    <button class="btn btn-outline-danger" type="submit"> Updateaza Grup </button>

}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
